* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dff9fb;
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px;
  margin-top: 5px;
  background-color: rgb(209, 39, 167);
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
